/* トップページ */
html {
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: solid 2px white;
    transition-duration: 0.5s;
    text-decoration: none;
  }

.header {
    width: 100%;
   background-size: cover;
   height: 600px;
}

.back-font h1 {
    float: left;
    color: white;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

.top_nav {
    float: right;
}

.top_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top_nav ul li{
    float: left;
    text-align: center;
    padding: 20px;
}

.top_nav ul li a{
    color: white;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 4px;
    text-decoration: none;
}

 .fadein {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 0.5s;
  }
   
  .fadein.active{
    opacity : 1;
    transform : translate(0, 0);
  }

  .detail {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 1s;
  }
   
  .detail.active{
    opacity : 1;
    transform : translate(0, 0);
  }

.top_intro {
    margin: auto;
    height: 600px;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(250, 248, 248, 0) 100%);
    background-blend-mode: screen;
    position: relative;
}

.top_intro h1 {
    padding-top: 40px;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box {
    text-align: center;
    margin: auto;
    width: 300px;
}

.box h3 {
    padding-top: 20px;
}

/* big5説明 */
.big5 {
    margin: auto;
    text-align: center;
}

.big5_text h1{
    padding-top: 40px;
}

.big5_detail {
    display: table;
    height: 150px;
    width: 100%;
    margin: 50px;
}

.big5_detail h4 {
    margin-top: 30px;
}

.detail1 {
    background-color: yellow;
    border-radius: 3px;
    margin: auto;
}

.detail2 {
    background-color: rgb(18, 172, 233);
    border-radius: 3px;
    
    margin: auto;
}
.detail3 {
    background-color: rgb(176, 232, 176);
    border-radius: 3px;
   
    margin: auto;
}
.detail4 {
    background-color: red;
    border-radius: 3px;
    margin: auto;
}
.detail5 {
    background-color: rgb(170, 38, 170);
    border-radius: 3px;
    margin: auto;
}

/* 診断テスト説明 */
.top_text {
    height: 600px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
}

.text_means {
    width: 100%;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.top_text h3 {
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

.top_text h1 {
    padding-bottom: 10px;
    padding-top: 20px;
}

footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.footer_nav {
    height: 100px;
    background: #C0C0C0;
    position: relative;
}

.footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_nav ul li {
    display: inline;
}

.footer_nav ul li a{
   color: white;
   padding: 0px 10px;
   font-family: 'Zilla Slab', serif;
   text-decoration: none;
}

  /* お問い合わせ機能 */

  .content_head { 
     height: 40px;
  }

  .btn-humburger {
    position: fixed; 
    top: 0;
    right: 0;
    width: 70px;
    height: 56px;
    cursor: pointer;
    z-index: 50;
  }

  .btn-humburger > div {
      position: absolute;
      width: 56px;
      height: 3px;
      transition: all 0.2s;
      background-color: #000;
  }

  .btn-humburger > div:first-child {
      top: 15px;
      left: 0;
  }

  .btn-humburger > div:last-child {
      bottom: 15px;
      left: 0;
  }

 .is-active > div:first-child {
    -webkit-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

 .is-active > div:last-child {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}

.navi-enter-active, .navi-leave-active {
    transition: opacity 0.4s;
}

.navi-enter, .navi-leave-to {
    opacity: 0;
}

.navi-leave, .navi-enter-to {
    opacity: 1;
}

footer {
    background-color: rgba(197, 197, 197, 0.671);
}

.navi {
    background-color: rgba(197, 197, 197, 0.671);
    z-index: 30;
    padding: 2rem 1rem;
    position: fixed;
    width: 20rem;
    height: 80rem;
    top: 0;
    right: 0;
}

.navi ul{
    margin: 1rem;
    padding: 0;
}

.navi li {
    list-style: none;
    line-height: 1;
    padding: 1rem;
}

.navi a{
    color: rgb(66, 66, 66);
}

.navi a:hover {
    text-emphasis: none;
    color: rgb(66, 66, 66);
}

.content_message_title {
    padding-top: 30px;
    text-align: center;
}

.content_message {
    font-size: 1.6rem;
}

.content_input {
    margin-bottom: 40px;
}

.input_title h2 {
    text-align: center;
}

.content_form {
    margin: auto;
    text-align: center;
}

.content_footer {
    border-top: medium solid #EEEEEE;
}

/* 内容確認 */
.main_check {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.main_check h3 {
    padding-top: 20px;
}

/* 内容保存ページ */

.thank_page {
    text-align: center;
    margin-top: 10px;
}

/* テスト説明 */
.test_head { 
    background-color: white;
    height: 75px;
 }

.test_message{
    position: relative;
    height: 600px;
}

.test_title{
    color: white;
    width: 100%;
}

.test_title h1 {
    padding-top: 100px;
    margin: auto;
    text-align: center;
}

.test_boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 150;
    right: 0;
    bottom: 50px;
    left: 0;
}

.test_box {
    margin-top: 30px;
    background-color:rgba(255,255,255,0.9);
    border-radius: 20px;
    height: 250px;
    box-shadow: 0 0 8px white;
    text-align: center;
    margin: auto;
    width: 300px;
}

 .icon_text i{
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .test_start {
     text-align: center;
     background-color: white;
 }
 
 .test_footer {
     height: 125px;
 }

.kind {
    background: linear-gradient(0deg, rgba(246,249,193,1) 0%, rgba(237,247,15,1) 100%);
}

 .kindtest {
     margin: auto;
     text-align: center;
 }

 .kindtest {
     margin: auto;
     text-align: center;
 }

.kind_check_list {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.checklist {
    margin: 5px 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.testborder {
    padding-top: 30px;
    border-bottom: 1px solid #EADFDF;
}

.kind_check_question {
   margin-top: 50px;
}

#next-button {
    margin: 20px;
    border-radius: 30px;
    height: 50px;
}

/* 勤勉テスト */
.serious {
    padding-top: 70px;
    background: rgb(24,183,246);
    background: linear-gradient(0deg, rgba(24,183,246,1) 0%, rgba(255,255,255,1) 81%);
}

/* 開放性テスト */
.openness {
    padding-top: 70px;
    background: rgb(151,247,200);
    background: linear-gradient(0deg, rgba(151,247,200,1) 37%, rgba(255,255,255,1) 72%);
}

/* 協調性テスト結果 */
.character_result {
    padding-top: 70px;
    margin: auto;
}

.character_good {
    background: rgb(244,247,178);
background: linear-gradient(0deg, rgba(244,247,178,1) 0%, rgba(255,255,255,1) 88%);
}

.character_text {
    text-align: center;
    margin-top: 20px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.bigcontent_text h1{
    font-size: 50px;
    color: rgb(247, 227, 55);
}

.bigcontent_text h3{
    color: rgb(240, 232, 160);
}


.character_title {
    margin: auto;
    width: 80%;
    padding: 20px 0px;
    font-family: 'Kosugi', sans-serif;
}

.character_bigcontent img{
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 2000px 100px;
    border-bottom-right-radius: 2000px 100px;
}

.character_subcontent {
    letter-spacing: 2px;
    padding-bottom: 50px;
    border-bottom: 2px solid gray;
}

.character_msg {
    margin: 60px 0px;
}

.character_subcontent p{
    margin: auto;
    width: 80%;
}

.character_detail {
    margin-top: 50px;
}

.character_detail p,h3,h2{
    margin: auto;
    text-align: center;
    width: 80%;
}

.character_boxes {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.character_box {
    margin: auto;
    height: 100px;
    width: 40%;
    box-sizing: border-box;
    margin-top: 30px;
    background-color:rgba(255,255,255,0.6);
    box-shadow: 0 0 8px white;
    border-radius: 20px;
}

.special_text {
    background-color:rgba(255,255,255,0.8);
    border-radius: 20px;
    width: 500px;
    color: rgb(247, 227, 55);
}

.submit {
   padding: 20px;
    text-align: center;
}

#next_button {
    border-radius: 20px;
}

/* 勤勉性結果 */
.seriouscontent_text h1{
    font-size: 50px;
    color: rgb(14, 144, 250);
}

.seriouscontent_text h3{
    color: rgb(66, 205, 243);
}

.serious_good {
    background: rgb(24,183,246);
    background: linear-gradient(0deg, rgba(24,183,246,1) 0%, rgba(255,255,255,1) 81%);
}

.serious_text {
    color: rgb(66, 205, 243);
}



/* レスポンシブ */
  @media screen and (max-width : 768px) {
      /* ハンバーガー */
       .navi {
            width: 200px;
        }
      /* トップページ */
      .header {
        background-repeat: no-repeat;
        background-position: center center;
       background-size: cover;
      }

      .back-font h1 {
       text-align: center;
       margin-left: 75px;
        color: white;
        font-size: 80px;
        font-family: 'Pacifico', cursive;
        letter-spacing: 3px;
    }

    .top_intro {
        height: 500px;
    }

    .boxes {
        position: static;
        margin-bottom: 30px;
    }

    /* お問い合わせ入力 */




    /* サンクスページ */
    .display-4 {
        padding-top: 30px;
    } 

    /* テスト説明 */

    .test_message {
        height: 900px;
    }
    
    .test_boxes {
        position: flex;
    }

    .test_box {
        margin-top: 30px;
        height: 200px;
    }

   .kind {
       width: 200px;
   }
   
   .kind_check_list {
       width: 100%;
       align-items: center;
   }

   .check {
       width: 100%;
   }

   .checklist {
       margin: 0px;
       width: 40px;
       align-items: center;
   }
   
    /* テストページ */
    .character_box {
        height: 150px;
        width: 49%;
    }

    .special_text {
        background-color:rgba(255,255,255,0.8);
        border-radius: 20px;
        width: 100%;
    }

  }


  
