/* トップページ */
html {
    font-size: 14px;
}

a {
    text-decoration: none;
}
p {
    letter-spacing: 2px;
}

a:hover {
    border-bottom: solid 2px white;
    transition-duration: 0.5s;
    text-decoration: none;
  }

.header {
    width: 100%;
   background-size: cover;
   height: 600px;
}

.header_title h1{
    padding-left: 20px;
    font-family: 'Pacifico', cursive;
}

.back-font h1 {
    float: left;
    color: white;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

.top_nav {
    float: right;
}

.top_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top_nav ul li{
    float: left;
    text-align: center;
    padding: 20px;
}

.top_nav ul li a{
    color: white;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 4px;
    text-decoration: none;
}

#overlay {
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_form {
    height: 65%;
    border-radius: 30px;
    z-index: 32;
    width: 40%;
    text-align: center;
    background-color: white;
}

.login_title {
    height: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: rgb(149, 245, 248,0.6);
}

.login_title h3{
   vertical-align: middle; 
   line-height: 60px;
   letter-spacing: 3px;
   font-family: 'Zilla Slab', serif;
   
}

.form_text {
    text-align: center;
    letter-spacing: 3px;
}

.email_form {
    margin: 25px 0px;
}

.pass_form {
    margin: 25px 0px;
}

.login_pass {
    width: 80%;
}

.login_mail {
    width: 80%;
}

#login_submit {
    width: 60%;
    border-radius: 30px;
    height: 40px;
}


 .fadein {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 0.5s;
  }
   
  .fadein.active{
    opacity : 1;
    transform : translate(0, 0);
  }

  .detail {
    opacity : 0;
    transform : translate(0, 100px);
    transition : all 1s;
  }
   
  .detail.active{
    opacity : 1;
    transform : translate(0, 0);
  }

.top_intro {
    margin: auto;
    height: 600px;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(250, 248, 248, 0) 100%);
    background-blend-mode: screen;
    position: relative;
}

.top_intro h1 {
    padding-top: 40px;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#mark {
    padding: 20px 20px;
    size: 20px;
}

.box {
    text-align: center;
    margin: auto;
    width: 300px;
}

.box h3 {
    padding-top: 20px;
    font-size: 25px;
}

.box p {
    text-align: left;
    letter-spacing: 2px;
}

/* big5説明 */
.big5 {
    margin: auto;
    text-align: center;
}

.big5_text h1{
    padding-top: 40px;
}

.big5_detail {
    display: table;
    height: 150px;
    width: 100%;
    color: white;
}

.big5_detail h4 {
    margin-top: 30px;
}

.detail1 {
    padding: 2px 5px;
    margin: 2em 0;
    background: #f3f319;
    border-radius: 20px;
    margin: 20px auto;
}

.detail2 {
    background-color: rgb(122, 211, 247);
    border-radius: 20px;
    margin: 20px auto;
}
.detail3 {
    background-color: rgb(147, 247, 147);
    border-radius: 20px;
    margin: 20px auto;
}
.detail4 {
    background-color: rgb(250, 109, 109);
    border-radius: 20px;
    padding: 0px 20px;
    margin:20px  auto;
}
.detail5 {
    background-color: rgb(240, 135, 240);
    border-radius: 20px;
    margin:20px  auto;
}

/* 診断テスト説明 */
.top_text {
    height: 600px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
}

.text_means {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.top_text h3 {
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

.top_text h1 {
    padding-bottom: 10px;
    padding-top: 20px;
}

footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.footer_nav {
    height: 100px;
    background: #C0C0C0;
    position: relative;
}

.footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_nav ul li {
    display: inline;
}

.footer_nav ul li a{
   color: white;
   padding: 0px 10px;
   font-family: 'Zilla Slab', serif;
   text-decoration: none;
}

  /* お問い合わせ機能 */
  .content {
      padding-top: 70px;
  }

  #content_message {
    border-bottom-left-radius: 2000px 100px;
    border-bottom-right-radius: 2000px 100px;
    background: rgb(219,255,255);
    background: linear-gradient(0deg, rgba(219,255,255,1) 16%, rgba(165,255,244,1) 52%, rgba(134,243,247,1) 90%);
    color: white;
  }

  .content_head { 
     width: 100%;
     height: 70px;
     background: rgb(248, 250, 250,0.6);
  }

  .btn-humburger {
    position: fixed; 
    top: 0;
    right: 0;
    width: 70px;
    height: 56px;
    cursor: pointer;
    z-index: 50;
  }

  .btn-humburger > div {
      position: absolute;
      width: 56px;
      height: 3px;
      transition: all 0.2s;
      background-color: #000;
  }

  .btn-humburger > div:first-child {
      top: 15px;
      left: 0;
  }

  .btn-humburger > div:last-child {
      bottom: 15px;
      left: 0;
  }

 .is-active > div:first-child {
    -webkit-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

 .is-active > div:last-child {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}

.navi-enter-active, .navi-leave-active {
    transition: opacity 0.4s;
}

.navi-enter, .navi-leave-to {
    opacity: 0;
}

.navi-leave, .navi-enter-to {
    opacity: 1;
}

footer {
    background-color: rgba(197, 197, 197, 0.671);
}

.navi {
    background-color: rgba(197, 197, 197, 0.671);
    z-index: 30;
    padding: 2rem 1rem;
    position: fixed;
    width: 20rem;
    height: 80rem;
    top: 0;
    right: 0;
}

.navi ul{
    margin: 1rem;
    padding: 0;
}

.navi li {
    list-style: none;
    line-height: 1;
    padding: 1rem;
}

.navi a{
    color: rgb(66, 66, 66);
}

.navi a:hover {
    text-emphasis: none;
    color: rgb(66, 66, 66);
}

.content_message_title {
    padding: 40px 0px;
    text-align: center;
}

.content_message {
    font-size: 1.6rem;
}

.content_input {
    margin-bottom: 40px;
}

.input_title h2 {
    text-align: center;
}

.content_form {
    margin: auto;
    text-align: center;
}

.content_footer {
    border-top: medium solid #EEEEEE;
}

#contact_submit {
    border-radius: 20px;
}

/* 内容確認 */
.main_check {
    margin: auto;
    text-align: center;
    padding-top: 150px;
}

.main_check h3 {
    padding-top: 20px;
}

.check_detail{
     padding : 10px 0px;
}

.card_title {
    background-color: skyblue;
    color: white;
}

.card_title h3{
    padding: 10px 0px;
    font-family: 'Grandstander', cursive;
}

#content_submit {
    margin: 10px 0px;
    height: 40px;
    border-radius: 30px;
}

.check_detail_parts {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}


/* 内容保存ページ */

.thank_page {
    text-align: center;
    padding-top: 70px;
    margin-top: 70px;
}

.thanks_title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-bottom: 20px;
}

/* テスト説明 */
.test_head { 
    background-color: rgb(255, 254, 254,0.6);
    height: 60px;
 }

.test_message{
    padding-top: 70px;
    position: relative;
    height: 600px;
}

.test_title {
    color: white;
    width: 100%;
}

.test_title h1 {
    padding-top: 100px;
    padding-bottom: 40px;
    margin: auto;
    text-align: center;
}

.test_boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 200;
    right: 0;
    bottom: 50px;
    left: 0;
}

.test_box {
    margin-top: 30px;
    background-color:rgba(255,255,255,0.9);
    border-radius: 20px;
    height: 250px;
    box-shadow: 0 0 8px white;
    text-align: center;
    margin: auto;
    width: 300px;
}

 .icon_text i{
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .test_start {
     text-align: center;
     background-color: white;
 }
 
 .test_footer {
    padding: 0px;
    margin:  0px;
}

 .test_footer p{
     padding-bottom: 0px;
     margin-bottom: 0px;
 }

 .footer_title {
     background-color: rgb(53, 51, 51);
     height: 45px;
     width: 100%;
 }

 .footer_title p{
     padding-top: 7px;
     text-align: center;
     color: white;
 }



.kind {
    padding-top: 70px;
    background: rgb(247,249,126);
    background: linear-gradient(0deg, rgba(247,249,126,1) 0%, rgba(239,246,131,1) 7%, rgba(255,255,255,1) 96%);
}

 .kindtest {
     margin: auto;
     text-align: center;
 }

 .kindtest_title h2{
     font-size: 40px;
     font-family: 'Sawarabi Gothic', sans-serif;
 }

.kind_check_list {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.checklist {
    margin: 5px 40px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.testborder {
    padding-top: 30px;
    border-bottom: 1px solid #EADFDF;
}

.kind_check_question {
   margin-top: 50px;
}

#next-button {
    margin: 20px;
    border-radius: 30px;
    height: 50px;
}

/* 勤勉テスト */
.serious {
    padding-top: 70px;
    background: rgb(24,183,246);
    background: linear-gradient(0deg, rgba(24,183,246,1) 0%, rgba(255,255,255,1) 81%);
}

/* 開放性テスト */
.openness {
    padding-top: 70px;
    background: rgb(151,247,200);
    background: linear-gradient(0deg, rgba(151,247,200,1) 37%, rgba(255,255,255,1) 72%);
}

/* 社交性テスト */
.extraversion {
    padding-top: 70px;
    background: rgb(244,104,104);
    background: linear-gradient(0deg, rgba(244,104,104,1) 17%, rgba(255,255,255,1) 96%);
}
/* 神経症的傾向テスト */
.neuroticism {
    padding-top: 70px;
    background: rgb(177,104,244);
    background: linear-gradient(0deg, rgba(177,104,244,1) 0%, rgba(191,131,246,1) 7%, rgba(255,255,255,1) 96%);
}

/* 協調性テスト結果 */
.character_result {
    padding-top: 70px;
    margin: auto;
}

.character_good {
    background: rgb(244,247,178);
background: linear-gradient(0deg, rgba(244,247,178,1) 0%, rgba(255,255,255,1) 88%);
}

.character_text {
    text-align: center;
    margin-top: 20px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.bigcontent_text h1{
    font-size: 50px;
    color: rgb(247, 227, 55);
}

.bigcontent_text h3{
    color: rgb(240, 232, 160);
}


.character_title {
    margin: auto;
    width: 80%;
    padding: 20px 0px;
    font-family: 'Kosugi', sans-serif;
}

.character_bigcontent img{
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-bottom-left-radius: 2000px 100px;
    border-bottom-right-radius: 2000px 100px;
}

.character_subcontent {
    letter-spacing: 2px;
    padding-bottom: 50px;
    border-bottom: 2px solid gray;
}

.character_msg {
    margin: 60px 0px;
}

.character_subcontent p{
    margin: auto;
    width: 80%;
}

.character_detail {
    margin-top: 50px;
}

.character_detail p,h3,h2{
    margin: auto;
    text-align: center;
    width: 80%;
}

.character_boxes {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.character_box {
    margin: auto;
    height: 150px;
    width: 40%;
    box-sizing: border-box;
    margin-top: 30px;
    background-color:rgba(255,255,255,0.6);
    box-shadow: 0 0 8px white;
    border-radius: 20px;
}

.character_box h3{
    padding: 10px 0px;
}

.character_box p{
   text-align: left;
}

.special_text {
    background-color:rgba(255,255,255,0.6);
    border-radius: 20px;
    width: 500px;
    color: rgb(247, 227, 55);
}

.submit {
   padding: 20px;
    text-align: center;
}

#next_button {
    border-radius: 20px;
}

/* 勤勉性結果 */
.seriouscontent_text h1{
    font-size: 50px;
    color: rgb(14, 144, 250);
}

.seriouscontent_text h3{
    color: rgb(66, 205, 243);
}

.serious_good {
    background: rgb(24,183,246);
    background: linear-gradient(0deg, rgba(24,183,246,1) 0%, rgba(255,255,255,1) 81%);
}

.serious_text {
    color: rgb(66, 205, 243);
}

/* 開放性結果 */
.openness_good {
    background: rgb(151,247,200);
    background: linear-gradient(0deg, rgba(151,247,200,1) 37%, rgba(255,255,255,1) 72%);
}

.openness_text h1{
    font-size: 50px;
    color: rgb(122, 255, 191);
}

.openness_text h3{
    color: rgb(151,247,200);
}

.opennesses_text {
    color: rgb(122, 255, 191);
}

/* 社交性結果 */
.extraversion_good {
    background: rgb(244,104,104);
    background: linear-gradient(0deg, rgba(244,104,104,1) 17%, rgba(255,255,255,1) 96%);
}

.extraversion_text  h3{
    color: rgb(247, 93, 168);
}

.extraversion_text {
    color: rgb(244,104,104);
}

/* 神経症結果 */
.neuroticism_good {
    background: rgb(177,104,244);
    background: linear-gradient(0deg, rgba(177,104,244,1) 0%, rgba(191,131,246,1) 7%, rgba(255,255,255,1) 96%);
}

.neuroticism_text {
    color: rgb(177,104,244);
}

.neuroticism_text h3{
    color: rgb(206, 180, 231);
}

/* トータル結果 */
.total{
    padding-top: 70px;
}

.total_title {
    text-align: center;
}

#big5_detail_title{
    text-align: center;
}


.totalchart {
    width: 50%;
    margin: auto;
}

/* 全体結果 */
.serious_result p{
    color: white;
    padding: 0.5em;
    background: rgba(104, 250, 235, 0.6);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.total_msg img {
    margin: 20px 0px;
    height: 80px;
    border-radius: 20px;
    width: 80px;
    object-fit: cover;
}

.serious_message {
    color: skyblue;
}
.kind_message {
    color: rgb(244, 247, 84);
}
.openness_message {
    color: rgb(151,247,200,0.6);;
}
.extraversion_message {
    color: rgb(244,104,104,0.6);;
}
.neuroticism_message {
    color: rgb(177,104,244,0.6);
}

.kind_results p{
    color: white;
    padding: 0.5em;
    background: rgb(244, 247, 84);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.openness_results p{
    color: white;
    padding: 0.5em;
    background: rgb(151,247,200,0.6);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.extra_results p{
    color: white;
    padding: 0.5em;
    background: rgb(244,104,104,0.6);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

.neuroticism_results p{
    color: white;
    padding: 0.5em;
    background: rgb(177,104,244,0.6);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

#bigfive_detail{
    font-family: 'Sawarabi Gothic', sans-serif;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
}

.select_area {
    margin: auto;
    text-align: center;
}


/* レスポンシブ */
  @media screen and (max-width : 768px) {
      /* ハンバーガー */
       .navi {
            width: 200px;
        }
      /* トップページ */
      .header {
        background-repeat: no-repeat;
        background-position: center center;
       background-size: cover;
      }

      .back-font h1 {
       text-align: center;
       margin-left: 75px;
        color: white;
        font-size: 80px;
        font-family: 'Pacifico', cursive;
        letter-spacing: 3px;
    }

    .fadeIn {
        height: 950px;
        background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(250, 248, 248, 0) 100%);
        background-blend-mode: screen;
    }

    .top_intro {
        margin-top: 2px;
    }

    .boxes {
        position: static;
        margin-bottom: 30px;
    }

    .box {
        border-bottom: 2px solid;
    }

    /* お問い合わせ入力 */




    /* サンクスページ */
    .display-4 {
        padding-top: 30px;
    } 

    /* テスト説明 */

    .test_message {
        height: 1000px;
    }

    .test_title h1 {
        padding-top: 50px;
    }
    
    .test_boxes {
        position: flex;
    }

    .test_box {
        margin-top: 30px;
        height: 200px;
    }

   .kind {
       width: 200px;
   }
   
   .kind_check_list {
       width: 100%;
       align-items: center;
   }

   .check {
       width: 100%;
   }

   .checklist {
       margin: 0px;
       width: 40px;
       align-items: center;
   }
   
    /* テストページ */
    .character_boxes {
        width: 100%;
    }

    .character_box {
        height: 250px;
        width: 49%;
    }

    .character_box h3{
        padding-top: 20px;

    }

    .special_text {
        background-color:rgba(255,255,255,0.8);
        border-radius: 20px;
        width: 100%;
    }

  }


  
