/* トップページ */
html {
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: solid 2px white;
    transition-duration: 0.5s;
    text-decoration: none;
  }

.header {
    width: 100%;
   background-image: url("/images/shutterstock_762804607.jpg");
   background-size: cover;
   height: 650px;
}

.back-font h1 {
    float: left;
    color: white;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}

.top_nav {
    float: right;
}

.top_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.top_nav ul li{
    float: left;
    text-align: center;
    padding: 20px;
}

.top_nav ul li a{
    color: white;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 4px;
    text-decoration: none;
}

.top_intro {
    margin: auto;
    height: 600px;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(250, 248, 248, 0) 100%);
    background-blend-mode: screen;
    position: relative;
}

.top_intro h1 {
    padding-top: 40px;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box {
    text-align: center;
    margin: auto;
    width: 300px;
}

.box h3 {
    padding-top: 20px;
}

.top_text {
    height: 600px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2px;
    position: relative;
}

.text_means {
    width: 100%;
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.top_text h3 {
    padding: 10px;
    font-family: 'Pacifico', cursive;
}

.top_text h1 {
    padding-bottom: 10px;
    padding-top: 20px;
}

footer {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.footer_nav {
    height: 100px;
    background: #C0C0C0;
    position: relative;
}

.footer_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_nav ul li {
    display: inline;
}

.footer_nav ul li a{
   color: white;
   padding: 0px 10px;
   font-family: 'Zilla Slab', serif;
   text-decoration: none;
}

  /* お問い合わせ機能 */

  .content_head { 
     background-color: 	#DDDDDD	;
     height: 50px;
  }

  .btn-humburger {
    position: fixed; 
    top: 0;
    right: 0;
    width: 70px;
    height: 56px;
    cursor: pointer;
    z-index: 50;
  }

  .btn-humburger > div {
      position: absolute;
      width: 56px;
      height: 3px;
      transition: all 0.2s;
      background-color: #000;
  }

  .btn-humburger > div:first-child {
      top: 15px;
      left: 0;
  }

  .btn-humburger > div:last-child {
      bottom: 15px;
      left: 0;
  }

 .is-active > div:first-child {
    -webkit-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

 .is-active > div:last-child {
    -webkit-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}

.navi-enter-active, .navi-leave-active {
    transition: opacity 0.4s;
}

.navi-enter, .navi-leave-to {
    opacity: 0;
}

.navi-leave, .navi-enter-to {
    opacity: 1;
}

.navi {
    background-color: rgba(197, 197, 197, 0.671);
    z-index: 30;
    padding: 2rem 1rem;
    position: fixed;
    width: 20rem;
    height: 80rem;
    top: 0;
    right: 0;
}

.navi ul{
    margin: 1rem;
    padding: 0;
}

.navi li {
    list-style: none;
    line-height: 1;
    padding: 1rem;
}

.navi a{
    color: rgb(66, 66, 66);
}

.navi a:hover {
    text-emphasis: none;
    color: rgb(66, 66, 66);
}

.content_message_title {
    padding-top: 30px;
    text-align: center;
}

.content_message {
    font-size: 1.6rem;
}

.content_input {
    margin-bottom: 40px;
}

.input_title h2 {
    text-align: center;
}

.content_form {
    margin: auto;
    text-align: center;
}

.content_footer {
    border-top: medium solid #EEEEEE;
}

/* 内容確認 */
.main_check {
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.main_check h3 {
    padding-top: 20px;
}

/* レスポンシブ */
  @media screen and (max-width : 768px) {
      .header {
        background-repeat: no-repeat;
        background-position: center center;
       background-image: url("/images/shutterstock_762804607.jpg");
       background-size: cover;
      }

      .back-font h1 {
       text-align: center;
       margin-left: 75px;
        color: white;
        font-size: 80px;
        font-family: 'Pacifico', cursive;
        letter-spacing: 3px;
    }

    .top_intro {
        height: 500px;
    }

    .boxes {
        position: static;
        margin-bottom: 30px;
    }

  }


  
