version: 2.1
jobs:
  build:
    docker:
        - image: circleci/php:7.3-node-browsers
        - image: circleci/mysql:5.7
          environment:
              - MYSQL_DATABASE: personal
              - MYSQL_ROOT_PASSWORD: root 
    environment:
      - DB_HOST: 127.0.0.1
    steps:
      - run: echo "Hello World"

      - checkout
      - run: sudo composer self-update --1
      - run: composer install -n --prefer-dist
      - run: sudo apt update
      - run: sudo docker-php-ext-install zip pdo_mysql
      - run: npm ci
      - run: npm run dev
      - run: echo "APP_KEY=" > .env.testing
      - run: php artisan migrate --force
      - run:
          name: php test
          command: vendor/bin/phpunit
  
  deploy:
      machine:
           image: circleci/classic:edge
      steps:
         - add_ssh_keys:
               SHA256:
                  - "1RFKU5jwzNTfJnPPvnGrbhv8AIrC/84ed88bE8NrBlI"
         - run: git reset
         - run: ssh naoki@54.64.86.93 'cd /var/www/personal/ && git pull origin master'
    

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master

    


