version: 2.
jobs:
  build:
    docker:
    - image: circleci/php:7.3-node-browsers
      environment:
      - DB_HOST: mysql
      - APP_DEBUG: true
      - APP_ENV: testing
      - DB_CONNECTION: mysql
      - DB_DATABASE: personal
      - DB_USERNAME: naoki

    - image: circleci/mysql:8.0.13-ram
      command: |
           mysqld --default-authentication-plugin=mysql_native_password
      environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD: true
      - MYSQL_DATABASE:  personal
      environment:
      - DB_HOST: 127.0.0.1
      
    steps:
        -  checkout

        -  run: sudo apt update
        -  run: sudo docker-php-ext-install pdo_mysql

        -  restore_cache:
            keys:
                -  v1-dependencies-{{ checksum "composer.json" }} 
                -  v1-dependencies-
        -  run: composer install -n --prefer-dist 

        -  save_cache:
              key: v1-dependencies-{{ checksum "composer.json" }}
              paths:
                  -  ./vendor
                    
        -  run:  php artisan migrate
        -  run:  php artisan db:seed

        -  run: ./vendor/bin/phpunit
